{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/formulaires/creerRef.css') }}">
    <link rel="stylesheet" href="{{ asset('css/formulaires/addRef.css') }}">
    {{ parent() }}
{% endblock %}
{% block body %}
    <h1>Création d'un référent familial pour le patient : {{ patient.nom }} {{ patient.prenom }}</h1>
    <div class="container">
        <div class="formulaire">
            {{ form_start(form) }}
            <div class="form-group">{{ form_row(form.lieu) }}</div>
            <div class="form-group">{{ form_row(form.nom) }}</div>
            <div class="form-group">{{ form_row(form.prenom) }}</div>
            <div class="form-group">{{ form_row(form.adresse) }}</div>
            <div class="form-group">{{ form_row(form.fixe) }}</div>
            <div class="form-group">{{ form_row(form.portable) }}</div>
            <div class="form-group">{{ form_row(form.mail) }}</div>
            <div class="boutton-enregistrer">{{ form_row(form.Enregistrer) }}</div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/create/ref_list.js') }}"></script>
{% endblock javascripts %}